.hero {
  height: 500px;
  width: auto;
  background: url("../images/hero.jpg") no-repeat fixed top;
  background-size: cover;
}

.flexbox{
  display: flex;
  flex-flow: row;
  .col-1{
    flex: 3 1 75%;
  }
  .col-2{
    background-color: $white;
    margin-top: 30px;
    width: 280px;
    h2{
      font-size: 1.2em;
      text-align: center;
    }
    font-size: 1em;
    .tech{
      padding-right: 20px;
    }
  }
}

.hero-text {
  width: 50%;
  padding: 60px 0px 0px 15px;
  text-align: center;
  h1,h2 {
    color: white;
    font-size: 2em;

  }
  p{
    padding-top: 15px;
    color: white;
    font-size: 1.1em;
  }
}

.content{
  text-decoration: none;
  li{
    padding: 10px 0 0 10px;
  }
  h2{
    font-size: 2.5em;
    margin: 10px 0 0 35px;
  }
  .item{
    margin-bottom: 60px;
    border-top: 1px solid black;
    display: block;
  }
  .head{
    font-size: 1.5em;
  }
  p{
    font-size: 1.3em;
    padding-top: 5px;
  }
  a{
    text-decoration: none;
    color: $white;
  }
}
