nav {
  background-color: $dark-blue;
  text-align: right;
  font-family: $body-font;
  border-bottom: 3px solid lighten($dark-blue, 20%);
  margin-top: -16px;
  ul {
    list-style-type: none;
    padding: 12px 20px 0px 0px;
  }
  li {
    display: inline;
    padding: 5px;
  }
}

a{
  display: inline-block;
  padding: 1px 20px;
  text-decoration: none;
  font-weight: bold;
  color: $white;
  font-size: 1.1em;
  font-family: $header-font;
}
