$orange: #cb6f10;

$white: #ffffff;

$dark-purple: #871eaa;

$light-blue: #8CB1DB;

$dark-blue: #064b87;

$dark-green: #0c5b3c;

$body-font: 'labo 27px', serif ;

$header-font: 'Titillium Web', sans-serif;
